/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@font-face{
  font-family: 'JetBrainsMono';
  src: url('fonts/JetBrainsMono-Medium.woff2') format('woff2'),
    url('fontsJetBrainsMono-Medium.woff2') format('woff'),
    url('fonts/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/*VIEWPORT*/
.content{
}
/* Media query for viewport width less than 600px */
@media screen and (max-width: 700px) {
	.content {
		margin-left: 4vh;
		margin-right: 4vh;
		margin-top: 10vh;
	}
}
/* Media query for viewport width between 600px and 1200px */
@media screen and (min-width: 700px) and (max-width: 1100px) {
	.content {
		margin-left: 20vh;
		margin-right: 20vh;
		margin-top: 10vh;
	}
}
/* Media query for viewport width greater than 1200px */
@media screen and (min-width: 1100px) {
	.content {
		margin-left: 45vh;
		margin-right: 45vh;
		margin-top: 10vh;
	}
}


/*BODY & MAIN*/
body{
	font-family: 'JetBrainsMono';
	color: #62535A;
	font-size: 3vh;
	align-items: center;
	justify-content: center;
	overflow: visible;
	margin: 0;
}
@media screen and (max-width: 700px) {
	body{
		font-size: 1.5vh;;

	}
}
#main{
	line-height: 35px;
}



/*BUTTONS*/
.buttonContainer{
	display: flex;
	justify-content: flex-end;
}
ul{
	align-content: right;
}
#button{
	box-sizing: border-box;
	font-family: 'JetBrainsMono';
	margin-left: 5px;
	margin-right: 10px;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 0.05em;
	background: #FF8C4D;
	border-width: 5px 12px 12px 5px;
	border-style: solid;
	border-color: #1A0000;
	border-radius: 23px;
	color: black;
 	text-align: center;
  	text-decoration: none;
  	display: inline-block;
}
#button:hover {
	background-color: #43AFFD; /* change the background color on hover */
	color: black; /* change the text color on hover */
}


/*CONTENT*/
#section_one{
	margin-bottom: 15vh;
	width: 100%
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18vh;
}
@media screen and (max-width: 700px) {
	img{
		width: 14vh;
	}
}

#heading1{
	font-family: 'Gluten';
	font-size: 50px;
	color: #62535A;
	text-align: center;
}
@media screen and (max-width: 700px) {
	#heading1{
		font-size: 25px;
	}
}

p{
	text-align: left;
}

#section_two{
	margin-bottom: 15vh;
}

#heading2{
	font-family: 'Gluten';
	font-size: 50px;
	color: #62535A;
	text-align: left;
}
@media screen and (max-width: 700px) {
	#heading2{
		font-size: 30px;
	}
}







/*
	<ul>
	  <li>Github</li>
	  <li>LinkedIn</li>
	  <li>Email</li>
	</ul>
*/

/*
	<br/><br/><br/><br/><br/>
	<section id="two">

		<header>
			<h2 id="header">
				Experience
			</h2>
		</header>
	</section>
*/